@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

h2 {
  font-size: 1.5rem;
}

p,
button,
a,
li {
  font-size: 0.75rem;
}

* {
  box-sizing: border-box;
}

h2,
p,
button,
a,
li {
  margin: 10px 0;
}

.blogFooter {
  justify-content: space-evenly;
}
